*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*nav*/

nav {
    background-color: #F08A4B;
    width: 100%;
    min-height: 80px;
    display: flex;
}

#row-nav {
    display: flex;
    width: 100%;
    align-items: center;
    border: 2px dotted  black;
}

.col-nav {
    width: calc(100%/3);
    text-align: center;
    background-color: #577590;
    padding: 15px 0;
    border: 2px dotted  black;
}

/*header*/

header{
    background-color: #F2A541;
    width: 100%;
    display: flex;
}

#header-content {
    background-color: #F3CA40;
    margin: 100px auto;
    height: 350px;
    width: 800px;
    border: 2px dotted  black;
}

/*main*/

.white {
    background-color: #fff;
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.grey {
    background-color: lightgray;
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}  

.content {
    width: 70%;
    display: flex;
}

.img {
    background-color: #D78A76;
    width: 60%;
    height: 400px;
    border: 2px dotted  black;
}

.caption {
    background-color: #F3CA40;
    width: 40%;
    height: 400px;
    border: 2px dotted  black;
}

/*main - last section*/

#last-section {
    width: 70%;
}

#last-caption{
    background-color: #F3CA40;
    width: 100%;
    height: 150px;
    border: 2px dotted  black;
}

#last-img {
    height: 500px;
    width: 100%;
    margin: 80px 0;
    background-color: #D78A76;
    border: 2px dotted  black;
}

#download{
    background-color: #F3CA40;
    width: 100%;
    height: 150px;
    border: 2px dotted  black;
}

/*footer*/

footer {
    background-color: #F08A4B;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-content {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.footer-column-first {
    width: 30%;
    height: 400px;
    background-color: #F3CA40;
    border: 2px dotted  black;
}

.footer-column-sm {
    background-color: #F2A541;
    height: 400px;
    width: calc(70%/4);
    border: 2px dotted  black;
}

.footer-column {
    background-color: #577590;
    width: 50%;
    padding: 20px 0;
    vertical-align: middle;
    border: 2px dotted  black;
}

.footer-right {
    text-align: right;
}