*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*nav*/

nav {
    background-color: #F08A4B;
    width: 100%;
    min-height: 80px;
    display: flex;
}

#row-nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.col-nav {
    width: calc(100%/3);
    text-align: center;
    background-color: #577590;
    padding: 15px 0;
    border: 1px dotted  black;
}

/*header*/

header{
    background-color: #F2A541;
    width: 100%;
    display: flex;
}

#header-content {
    background-color: #F3CA40;
    margin: 100px auto;
    height: 400px;
    width: 800px;
}